@model LocalInfo.Models.LocalInfoModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <h2>Local Information</h2>
        <ul>
            <li>Temperature: @Model.TodaysTemperature</li>
            <li>Sunrise: @Model.Sunrise</li>
            <li>Sunset: @Model.Sunset</li>
            <li>Lattitude: @Model.Lattitude</li>
            <li>Longitude: @Model.Longitude</li>
        </ul>
    </div>
</div>